# Python cache
__pycache__/
*.pyc

# Virtual environment folders
venv/
.venv/
env/
.env

# Project Folders
# Using lowercase and a trailing slash for cross-platform compatibility and to ensure only directories are matched.
/books/

# Ignore the directory for generated output files, such as reports or lists.
/outputs/


# Ignore application log files.
app.log

# Ignore your data
file_name&title.json